@model StudentFormModel

<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

<div class="row g-3">
    <div class="col-12 col-lg-6">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" autocomplete="name" />
        <span asp-validation-for="FullName" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" type="email" autocomplete="email" />
        <span asp-validation-for="Email" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" autocomplete="tel" />
        <span asp-validation-for="Phone" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="City" class="form-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="GuardianName" class="form-label"></label>
        <input asp-for="GuardianName" class="form-control" />
        <span asp-validation-for="GuardianName" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="GuardianPhone" class="form-label"></label>
        <input asp-for="GuardianPhone" class="form-control" autocomplete="tel" />
        <span asp-validation-for="GuardianPhone" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="GradeLevel" class="form-label"></label>
        <input asp-for="GradeLevel" class="form-control" />
        <span asp-validation-for="GradeLevel" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="Status" class="form-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger small"></span>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="EnrolledDate" class="form-label"></label>
        <input asp-for="EnrolledDate" class="form-control" type="date" />
        <span asp-validation-for="EnrolledDate" class="text-danger small"></span>
    </div>
</div>
