@{
    var message = TempData["StatusMessage"] as string;
    var error = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-warning mt-4 mb-0" role="alert">@error</div>
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success mt-4 mb-0" role="alert">@message</div>
}

